.container {
  display: grid;
  align-items: center;
  color: white;
  background-color: #22303e;
  padding: 40px;
  margin-top: 40px;
  column-width: 100px;
  gap: 5%;
  font-size: 12px;
  text-align: center;
}

@media (min-width: 1220px) {
  .container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "image title title title"
      "image location-logo mail-logo phone-logo"
      "image location mail phone";
  }
}

@media (max-width: 1220px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "title title title"
      "location-logo mail-logo phone-logo"
      "location mail phone";
  }
  .image {
    display: none;
  }
}

@media (max-width: 500px) {
  .container {
    grid-template-columns: 1fr;
    row-gap: 1%;
    grid-template-areas:
      "title"
      "location"
      "mail"
      "phone";
  }
  .location-logo {
    display: none;
  }
  .phone-logo {
    display: none;
  }
  .mail-logo {
    display: none;
  }
}

.title {
  grid-area: title;
  font-size: 70px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.image {
  grid-area: image;
}

.location {
  grid-area: location;
}

.location-logo {
  width: 100px;
  height: 100px;
  margin: auto auto;
  fill: white;
  grid-area: location-logo;
}

.mail {
  grid-area: mail;
}

.mail-logo {
  width: 100px;
  height: 100px;
  margin: auto auto;
  fill: white;
  grid-area: mail-logo;
}

.phone {
  grid-area: phone;
}

.phone-logo {
  width: 100px;
  height: 100px;
  margin: auto auto;
  fill: white;
  grid-area: phone-logo;
}

@media (min-width: 1220px) {
  .image {
    display: block;
    height: 500px;
    width: 500px;
    border-radius: 10%;
  }
}
