.container {
  display: grid;
  color: white;
  background-color: #22303e;
  padding: 40px;
  margin-top: 40px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 5%;
  grid-template-areas:
    "image title title title"
    "image location-logo mail-logo phone-logo"
    "image location mail phone";
  font-size: 12px;
  text-align: center;
}

.title {
  grid-area: title;
  font-size: 70px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.image {
  grid-area: image;
}

.location {
  grid-area: location;
}

.location-logo {
  width: 100px;
  height: 100px;
  margin: auto auto;
  fill: white;
  grid-area: location-logo;
}

.mail {
  grid-area: mail;
}

.mail-logo {
  width: 100px;
  height: 100px;
  margin: auto auto;
  fill: white;
  grid-area: mail-logo;
}

.phone {
  grid-area: phone;
}

.phone-logo {
  width: 100px;
  height: 100px;
  margin: auto auto;
  fill: white;
  grid-area: phone-logo;
}

@media only screen and (min-width: 1024px) {
  .image {
    display: block;
    height: 500px;
    width: 500px;
    border-radius: 10%;
  }
}

@media only screen and (max-width: 1024px) {
  .image {
    display: none;
  }
}
