.container {
    display: grid;
    color: white;
    background-color: #22303E;
    padding: 40px;
    margin-top: 40px;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 5%; 
    grid-template-areas: 
      "image title title title"
      "image location mail phone"
      "image location mail phone";
      font-size: 14px;
}

.title {
    grid-area: title;
    font-size: 70px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.image {
    grid-area: image;
}

.location {
    grid-area: location;
}

.mail {
    grid-area: mail;
}

.phone {
    grid-area: phone;
}

@media only screen and (min-width: 1024px) {
    .image {
        display: block;
        height: 500px;
        width: 500px;
        border-radius: 10%;
    }
}

@media only screen and (max-width: 1024px) {
    .image {
        display: none;
    }
}